$arial: Arial, Helvetica, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;
$blue: #326891;
$lightGray: rgb(102, 102, 102);
$midBlack: rgb(51, 51, 51);
$hr: #E9E9E9;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    border: 1px solid $hr;
}