* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  border: 1px solid #E9E9E9;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-bottom: 1px solid #E9E9E9;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

nav svg {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

nav .left .magnifier,
nav .left a {
  display: none;
}

nav .center {
  width: 200px;
  text-align: center;
}

nav .center svg {
  width: 100%;
  height: 20px;
}

nav .right .nav-button {
  display: none;
}

.subNav {
  display: none;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}

.subNav a {
  font-size: 10px;
  color: #326891;
  text-transform: uppercase;
}

.subNav a:first-child {
  padding-right: 7px;
  border-right: 1px solid gray;
}

.subNav a:last-child {
  padding-left: 7px;
}

@media (min-width: 1020px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 14px;
  }
  nav .left {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .left .magnifier,
  nav .left a {
    display: inline;
  }
  nav .left a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }
  nav .left a:hover {
    text-decoration: underline;
  }
  nav .right .user {
    display: none;
  }
  nav .right .nav-button {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid blue;
    padding: 7px 15px;
    border-radius: 2px;
    background-color: #3978a8;
    color: white;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-size: 12px;
  }
  nav .right .nav-button:hover {
    background-color: #2a5575;
  }
  nav .nav-buttons {
    display: block;
  }
  .subNav {
    display: none;
  }
}

article h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 31px;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 1.5;
}

article .social_share {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 40px);
  max-width: 600px;
  border-top: 1px solid #E9E9E9;
  padding-top: 20px;
  margin: 0 auto 20px;
}

article .social_share .social-icon {
  border-radius: 50%;
  border: 1px solid #E9E9E9;
  background-color: #E9E9E9;
  cursor: pointer;
  padding: 7px 10px;
  margin: 0 10px;
  border: none;
}

article .social_share .social-icon:first-child {
  margin-left: 0;
}

article .social_share .social-icon:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px #E9E9E9 inset;
          box-shadow: 0 0 0 1px #E9E9E9 inset;
}

article .social_share .social-icon svg {
  width: 15px;
  height: 15px;
}

article .social_share .comment-counter {
  position: relative;
}

article .social_share .comment-counter span {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 10px;
  z-index: -1;
}

article .social_share .comments,
article .social_share .bookmark {
  padding-top: 4px;
  cursor: pointer;
}

article .social_share .comments:hover path,
article .social_share .bookmark:hover path {
  fill: #ccc;
}

article .headerImg_container {
  width: 100%;
  height: auto;
}

article .headerImg_container img {
  width: 100%;
  height: auto;
}

article .cosmos-caption-container {
  padding: 10px 20px;
  margin-bottom: 30px;
}

article .cosmos-caption-container .cosmos-caption {
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
}

article .cosmos-caption-container .cosmos-caption span {
  color: #888888;
}

article .author {
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

article .author .author-name {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

article .author .author-name span {
  cursor: pointer;
  border-bottom: 1px solid gray;
}

article .author .author-name span:hover {
  border-bottom: none;
}

article .author .date {
  font-weight: 500;
  font-size: 13px;
  margin-top: 30px;
  color: #121212;
}

@media screen and (min-width: 1024px) {
  article .headerImg_container {
    max-width: 945px;
    height: auto;
    margin: auto;
  }
  article .headerImg_container img {
    width: 100%;
    height: auto;
  }
  article .headerImg_container .cosmos-caption-container {
    padding-left: 0;
    padding-right: 270px;
  }
}

.paragraphsContainer {
  padding: 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.paragraphsContainer .paragraph {
  margin: 0 20px;
  width: calc(100% - 40px);
  max-width: 600px;
  margin-bottom: 12px;
  font-size: 18px;
  color: #333;
}

.paragraphsContainer .paragraph a {
  color: #326891;
  text-decoration: underline;
}

.paragraphsContainer .paragraph a:hover {
  text-decoration: none;
}

.paragraphsContainer .section-title {
  margin: 30px 20px 10px 20px;
  max-width: 945px;
}

.paragraphsContainer .section-subtitle {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #666;
  max-width: 945px;
}

.divisor {
  width: 100%;
  height: 60px;
  background-color: #F7F7F7;
}

.inflation-grid {
  margin: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
  max-width: 945px;
}

.inflation-grid .inflation-item {
  width: 200px;
  margin: 0 auto;
}

.inflation-grid .inflation-item .inflation-img {
  width: 100%;
  height: 150px;
}

.inflation-grid .inflation-item .inflation-img img {
  width: 100%;
  height: 100%;
}

.inflation-grid .inflation-item .inflation-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.inflation-grid .inflation-item .inflation-caption span {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
}

.author-inflation-container {
  margin-left: 0 20px;
  max-width: 945px;
}

.author-inflation-container .inflation-hr {
  width: 60px;
  border-top: 1px solid #000;
  margin: 80px 0 20px 20px;
}

.author-inflation-container .section-author {
  color: #333;
  margin-left: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.video-container {
  width: 100%;
  height: 54vw;
  margin: 37px auto 80px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.video-container figcaption {
  margin: 10px 20px 0;
  text-align: left;
  color: #666;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.video-container figcaption .video-caption span {
  color: #888;
  font-size: 12px;
}

.image-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.image-container img {
  width: 100%;
}

.image-container figcaption {
  margin: 10px 20px 0;
  text-align: left;
  color: #666;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.image-container figcaption .image-caption span {
  color: #888;
  font-size: 12px;
}

#footerArticle {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#footerArticle a {
  text-decoration: underline;
  color: #666;
}

#footerArticle a:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #666;
  padding: 0 5px;
}

#footerArticle a:hover {
  text-decoration: none;
}

.action-container {
  margin: 30px 20px;
  max-width: 600px;
}

.action-container button {
  cursor: pointer;
  color: #fff;
  border: 1px solid blue;
  border-radius: 3px;
  background-color: #567b95;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

.action-container button:hover {
  background-color: #326891;
}

.action-container .social_share:last-child {
  margin-left: 0;
  border: none;
}

/* Media queries */
@media screen and (min-width: 600px) {
  .paragraphsContainer .paragraph {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .divisor {
    display: none;
  }
  .author-inflation-container {
    margin-left: auto;
    margin-right: auto;
  }
  .video-container figcaption,
  .image-container figcaption {
    margin-left: 0;
    padding-right: 40px;
  }
  .video-container {
    margin: 43px auto 70px;
    width: 600px;
    height: 319px;
  }
  .action-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .social_share:last-child {
    margin-left: 0;
    padding-top: 14px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .section-title,
  .section-subtitle {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .inflation-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-mobile {
  width: 100%;
  border-top: 1px solid #EBEBEB;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-mobile .footer-content {
  padding: 0 10px;
}

.footer-mobile .footer-content .footer-header {
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.footer-mobile .footer-content .footer-header svg {
  cursor: pointer;
}

.footer-mobile .footer-content .footer-header a {
  color: #326891;
  font-size: 10px;
}

.footer-mobile .footer-content .footer-links .footer-link {
  padding: 10px 0;
  border-bottom: 1px solid #EBEBEB;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.footer-mobile .footer-content .footer-links .footer-link:last-child {
  border: none;
}

.footer-mobile .copyright {
  border-top: 1px solid #EBEBEB;
  text-align: center;
}

.footer-mobile .copyright p {
  padding: 10px 0;
  font-size: 12px;
}

.footer-mobile .copyright p a {
  color: #666;
}

.footer-mobile .copyright p a:hover {
  text-decoration: underline;
}

.footer-mobile .copyright .links {
  padding: 20px 20px 60px;
  font-size: 12px;
  line-height: 1.9;
}

.footer-mobile .copyright .links a {
  margin: 0 5px;
  color: #666;
}

.footer-mobile .copyright .links a:hover {
  text-decoration: underline;
}

.footer-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  article {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */